[global]
type=global
user_agent=NX Voice SIP Gateway

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

; -------- SharkPBX extension 1 --------
[shark-auth-1]
type=auth
auth_type=userpass
username=${SHARKPBX_EXT_1}
password=${SHARKPBX_PASS_1}

[shark-aor-1]
type=aor
contact=sip:${SHARKPBX_DOMAIN}

[shark-endpoint-1]
type=endpoint
transport=transport-udp
context=nx-inbound
disallow=all
allow=ulaw,alaw
auth=shark-auth-1
aors=shark-aor-1
from_user=${SHARKPBX_EXT_1}
from_domain=${SHARKPBX_DOMAIN}
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
direct_media=no

[shark-reg-1]
type=registration
transport=transport-udp
outbound_auth=shark-auth-1
server_uri=sip:${SHARKPBX_DOMAIN}
client_uri=sip:${SHARKPBX_EXT_1}@${SHARKPBX_DOMAIN}
contact_user=${SHARKPBX_EXT_1}
retry_interval=60
forbidden_retry_interval=300
expiration=300

; -------- SharkPBX extension 2 --------
[shark-auth-2]
type=auth
auth_type=userpass
username=${SHARKPBX_EXT_2}
password=${SHARKPBX_PASS_2}

[shark-aor-2]
type=aor
contact=sip:${SHARKPBX_DOMAIN}

[shark-endpoint-2]
type=endpoint
transport=transport-udp
context=nx-inbound
disallow=all
allow=ulaw,alaw
auth=shark-auth-2
aors=shark-aor-2
from_user=${SHARKPBX_EXT_2}
from_domain=${SHARKPBX_DOMAIN}
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
direct_media=no

[shark-reg-2]
type=registration
transport=transport-udp
outbound_auth=shark-auth-2
server_uri=sip:${SHARKPBX_DOMAIN}
client_uri=sip:${SHARKPBX_EXT_2}@${SHARKPBX_DOMAIN}
contact_user=${SHARKPBX_EXT_2}
retry_interval=60
forbidden_retry_interval=300
expiration=300
